@import 'assets/styles/theme.css';
@import 'assets/styles/reset.css';
@import 'assets/styles/icon.css';
@import 'assets/styles/form.css';
@import 'assets/styles/generator.css';
@import 'assets/styles/placeholder.css';

@import 'assets/styles/app.css';
@import 'assets/styles/file-selector.css';
@import 'assets/styles/generator-article.css';
@import 'assets/styles/generator-faq.css';

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

body > header {
  display: flex;
  justify-content: space-between;
  gap: var(--grid-size);
  padding: var(--grid-size) calc(var(--grid-size) * 2);
}

body > main {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.link-github {
  flex: 0 0 auto;
  display: block;
}

.link-github svg {
  display: block;
  width: var(--line-height);
  height: var(--line-height);
  fill: currentColor;
}
