*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  white-space: inherit;
  box-sizing: inherit;
}

html {
  font-size: calc(100% * var(--rem-ratio));
  box-sizing: border-box;
  background-color: var(--color-bg);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
  white-space: normal;
  color: var(--color-fg);
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  white-space: pre;
}

pre,
code {
  font-family: var(--font-family-mono);
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--font-weight-bold);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
}

*::-moz-focus-inner {
  outline: none;
  box-shadow: none;
}

*::-moz-focus-outer {
  outline: none;
  box-shadow: none;
}

*:-moz-focusring {
  outline: none;
  box-shadow: none;
}

*:focus {
  outline: none;
}
